.scanInput {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    height: 50px;
}

.tableBody {
    min-height: 200px;
}

.customInput {
    width: 100px;
    margin: 7px;
}

.customBtn {
    width: 150px;
    height: 75px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(25, 25, 26);
    color: white;
    border: none;
    border-radius: 5px;
}

.printBtn {
    width: 150px;
    height: 75px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(12, 140, 29);
    color: white;
    border: none;
    border-radius: 5px;
}

.inputReciept {
    width: 200px;
}

.btnRefund {
    width: 150px;
    color: white;
    background-color: black;
    height: 50px;
    border-radius: 5px;
    border: none;
}

.customTable {
    max-width: 90%;
    margin: 0 auto;
}

.selected {
    background-color: red;
}